/* Sidebar container */
.menu {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: 94vh;
}

/* Logo styling */
.logo {
  text-align: center;
  padding: 20px;
  color: #27374d;
  align-items: center;
  display: flex;
  gap: 20px;
}

/* Make the logo clickable */
.logo a {
  text-decoration: none; /* Remove underline from the link */
  color: #27374d; /* Match the original color */
  display: flex;
  align-items: center;
}

/* Icon styling */
.logo-icon {
  font-size: 1.4rem;
}

/* Menu list styling */
.menu--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Menu item styling */
.menu--list .item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  text-decoration: none; /* Ensure no underline */
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #27374d;
}

/* Hover state for menu items */
.menu--list .item:hover, .active {
  background: #27374d;
  color: #dde6ed !important;
}
